footer {
    padding-top: 20px;
    text-align: center;
    > div {
        margin: auto 10px;
    }
    > div:first-child {
        > span:last-child {
            > img {
                max-width: 20px;
            }
        }
        padding-bottom: 20px;
    }
    > hr {
        margin: 0 20px;
        border: #009FDB solid 1px;
    }
    > div:last-child {
    }
}