header {
  text-align: center;
  > div:first-child {
    padding: 10px 15px;
    font-family: DirectKey;
    background-color: #06439c;
    color: #ffffff;
    text-align: center;
    > span {
      color: #009fdb;
      >span {
        font-size: .5em;
      }
    }
  }
  > h1 {
    color: #009fdb;
    font-family: DirectKey;
    font-size: 3em;
    margin: 0 0 15px 0;
    > span {
      display: block;
      font-family: Helvetica, sans-serif;
      font-size: 0.35em;
    }
  }
  > video {
    width: 100%;
  }
  > h3 {
    color: #06439c;
    margin: 0;
  }
  > p {
    padding: 0 15px;
    text-align: left;
  }
}
